button {
    margin-right: 15px;
}

.user-card {
    float: left;
    margin: 16px;
}

.img-div img {
    width: 155px;
    height: 155px;
}
.heading {
    font-size: 20px;
}
.view-container {
    position: relative;
    height: 100%;
}
.buttons {
    position: absolute;
    bottom: 15px;
}
.user-list-item {
    padding: 12px 15px;
    box-shadow: 0px 0px 7px #00000036;
    border-radius: 7px;
    font-size: 20px;
    margin: 10px 0;
}

.item {
    margin-left: 10px;
}
.name {
    font-size: 16px;
}
.role {
    font-size: 14px;
    margin-top: 2px;
    color: gray;
}
.big-img-div img {
    height: 360px;
}

.info {
    margin-top: 15px;
}
.big-name {
    font-size: 26px;
}
.big-role {
    font-size: 21px;
    color: gray;
}
.marginbottom {
    margin-bottom: 20px;
}

.right {
    float: left;
    width: 500px;
    margin-left: 40px;
}

.current-card {
    padding: 10px 15px;
    border: 2px solid green;
    border-radius: 6px;
    background: #007f003b;
    font-size: 19px;
    margin-bottom: 20px;
}
.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px
}

.history-card {
    background-color: #efefef !important;
    border: 2px solid gray !important;
}