<div class="view-container">
    <div *ngIf="code === 'A'">
        <div *ngIf="!disagreed">
            <div class="heading">Here is what we suggest...</div>
            <div>
                <div *ngFor="let resource of selectedData" class="user-card">
                    <div class="img-div">
                        <img src="../../../assets/images/avatar.jpg" />
                    </div>
                    <div class="name">{{resource.name}}</div>
                    <div class="role">{{resource.role}}</div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div *ngIf="disagreed">
            <div class="heading">To which suggetion you disagree?</div>
            <div>
                <div *ngFor="let resource of selectedData" class="user-list-item">
                    <mat-checkbox>
                        <div class="item">
                            <div class="name">{{resource.name}}</div>
                            <div class="role">{{resource.role}}</div>
                        </div>
                    </mat-checkbox>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <div *ngIf="code === 'C'">
        <div class="heading marginbottom">Here is what we suggest...</div>
        <div class="left-bigger" style="float: left;">
            <div class="big-img-div">
                <img src="../../../assets/images/avatar.jpg" />
            </div>
            <div class="info">
                <div class="big-name">
                    <span>Poola Prasad</span>
                    <span class="font13">&nbsp;(with 100% bandwith)</span>
                </div>
                <div class="big-role">Sr. Software Engineer</div>
            </div>
        </div>
        <div class="right" style="float: left;">
            <div class="current-card">
                <div class="proj-name">
                    <span>Collect.Express</span>
                    <span class="font13">&nbsp; (current project)</span>
                </div>
                <div class="pro-info">
                    <div class="font14">Sr. Software Engineer</div>
                    <div class="font14">From April 2020 to Present</div>
                </div>
            </div>

            <div class="current-card history-card">
                <div class="proj-name">
                    <span>HP Roam</span>
                </div>
                <div class="pro-info">
                    <div class="font14">Sr. Software Engineer</div>
                    <div class="font14">For about 6 months</div>
                </div>
            </div>

            <div class="current-card history-card">
                <div class="proj-name">
                    <span>HP Titan</span>
                </div>
                <div class="pro-info">
                    <div class="font14">Software Engineer</div>
                    <div class="font14">For about a year</div>
                </div>
            </div>
        </div>

        <div style="clear: both;"></div>
    </div>
    <div class="buttons" *ngIf="code === 'A'">
        <button *ngIf="!disagreed" (click)="close()" mat-raised-button color="primary" class="nxt-btn">Agree</button>
        <button *ngIf="disagreed" (click)="close()" mat-raised-button color="primary" class="nxt-btn">Submit Feedback</button>

        <button *ngIf="!disagreed" (click)="disagree()" mat-raised-button color="warn" class="nxt-btn">Disagree</button>
        <button *ngIf="disagreed" (click)="cancelDisagree()" mat-raised-button color="warn" class="nxt-btn">Cancel</button>
    </div>
    <div class="buttons" *ngIf="code === 'C'">
        <button (click)="close()" mat-raised-button color="primary" class="nxt-btn">Ok</button>
        <button (click)="close()" mat-raised-button color="warn" class="nxt-btn">I don't agree</button>
    </div>
</div>