
<ng-container *ngIf="code === 'A'">
    <form>
        <mat-form-field>
            <mat-label>Project Domain</mat-label>
            <mat-select [(ngModel)]="selectedDomain" name="domain">
                <mat-option *ngFor="let domain of domains" [value]="domain">
                {{domain.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Technology Stack</mat-label>
            <mat-select [(ngModel)]="techStack" multiple name="techStack">
                <mat-option *ngFor="let language of languages" [value]="language">
                {{language.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button 
    (click)="findResource()"
    mat-flat-button color="primary" class="nxt-btn">Find Resources</button>
</ng-container>

<ng-container *ngIf="code === 'C'">
    <form>
        <mat-form-field>
            <mat-label>Project</mat-label>
            <mat-select [(ngModel)]="selectedProject" name="project">
                <mat-option *ngFor="let project of projects" [value]="project">
                {{project.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Technology</mat-label>
            <mat-select [(ngModel)]="selectedTech" name="selectedTech">
                <mat-option *ngFor="let language of languages" [value]="language">
                {{language.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Number of Resources</mat-label>
            <input matInput type="number" [(ngModel)]="totalHeadCount" name="dsd">
          </mat-form-field>
          <button 
            (click)="findResource()"
            mat-flat-button color="primary" class="nxt-btn">Find Resources</button>
    </form>
</ng-container>
