
<button routerLink="/home" mat-raised-button class="home-btn" color="warn">
    Home
</button>

<div class="upper">
    <div class="heading">
        Resource required, at present
    </div>
    <div class="options-container">
        <div class="option-div" *ngFor="let resource of currentResources">
            <div class="sub-heading">
                {{resource.name}}
            </div>
            <div class="sub-heading">
                Total: {{resource.resourceCount}}
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>

<div class="upper">
    <div class="heading">
        Resource required, in future 
        <span style="font-size: 13px;">(based on the current pattern)</span>
    </div>
    <div class="options-container">
        <div class="option-div" *ngFor="let resource of futureResources">
            <div class="sub-heading">
                {{resource.name}}
            </div>
            <div class="sub-heading">
                Total: {{resource.resourceCount}}
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>