<div class="home-container">
    <div class="upper">
        <div class="heading">
            Suggestions for entire team
        </div>
        <div class="options-container">
            <div class="option-div">
                <div class="sub-heading">
                    Based on Technology Stack & Domain
                </div>
                <button 
                (click)="askInput('A')"
                mat-flat-button color="accent" class="nxt-btn">
                    Next
                </button>
            </div>
            <div class="option-div">
                <div class="sub-heading">
                    Based on Number of Resources & their technology
                </div>
                <button mat-flat-button color="accent" [disabled]="true" class="nxt-btn">
                    Next
                </button>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="upper">
        <div class="heading">
            Suggestions for resource, within a team
        </div>
        <div class="options-container">
            <div class="option-div">
                <div class="sub-heading">
                    Based on number of resources and their technology
                </div>
                <button (click)="askInput('C')" mat-flat-button color="accent" class="nxt-btn">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

<button routerLink="/pre" mat-raised-button class="forcast-btn" color="warn">
    Forcasting
</button>