.upper {
    padding: 25px 20px;
}
.heading {
    color: #009688;
    font-size: 22px;
}
.option-div {
    float: left;
    position: relative;
    width: 300px;
    height: 180px;
    padding: 16px;
    box-shadow: 0px 3px 8px #0003;
    border-radius: 10px;
    font-size: 21px;
    line-height: 30px;
    color: #1d1c1c;
    margin-bottom: 20px;
    margin-right: 35px;
    margin-top: 20px;
}
.nxt-btn {
    position: absolute;
    bottom: 20px;
}

.forcast-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}